* {
    margin: 0px;
    padding: 0px;
}
    
#red-button {
    color: red;
}

#green-button {
    color: green;
}

#blue-button {
    color: blue;
}


#canvas {
    /* background-color: black; */
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

/* 
.block {
    width: 100px;
    display: inline-block;
  }​ */